<% content_for :header do %>
  <h1>Account Settings</h1>
<% end %>

<% content_for :content do %>
  <strong>Email:</strong> <%= @user.email %><br>
  <strong>Name:</strong> <%= @user.username %><br>
<% end %>

<% content_for :sidebar do %>
  <%= button_to "Logout", logout_path, :method => "get", class: "btn btn-danger btn-block" %>
<% end %>
