<% content_for :header do %>
  <h1>Create a New Show</h1>
<% end %>

<% content_for :vertical_nav do %>
  <ul class="nav flex-column">
    <li class="nav-item mb-3">
      <%= button_to "Back to Shows", shows_path, :method => "get", class: "btn btn-info btn-block" %>
    </li>
  </ul>
<% end %>

<% content_for :content do %>
  <%= render partial: "form", locals: {show: @show} %>
<% end %>
